//-----------COLORS------------//
// $color-dark-blue: #022546;
// $color-medium-blue: #4db5ff; //4db5ff
// $color-light-blue: #84c9fb; // #bcdbf1
// $color-off-white: #f7f7f7;
// $color-pink: #ed8b78;
// $color-peach: #f3cbae;
// $color-bright-pink: #f772ab;

$color-primary: #03dac5;
$color-primary-variant: #018c7e;
$color-primary-bold: #1cffe8;

$color-secondary: #bb86fc;
$color-secondary-variant: #3700b3;

$color-tertiary: #e31b6d;

$color-black: #000000;
$color-white: #ffffff;
$color-dark-gray: #363636;
$color-background: #292929;

//-----------DEFAULT SIZING------------//
$font-size-default: 1rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.5rem;
$font-size-m: 2rem;
$font-size-l: 2.5rem;
$font-size-xl: 3rem;
$font-size-xxl: 3.5rem;
$font-size-4x: 4rem;
$font-size-title: 6rem;
$navbar-height: 8.2rem;

$small-padding: 1rem;
$medium-padding: 2rem;
$default-padding: 3rem;
$large-padding: 5rem;
$xl-padding: 10rem;
