@import "../../../sass/main";

.section-about__value-card {
	&--container {
		display: flex;
		flex-direction: column;
		height: 20rem;
		width: 23rem;
		justify-content: center;
		align-items: center;
	}
	&--icon {
		background-color: $color-primary;
		width: 15rem;
		height: 15rem;
		padding: 4rem;
		clip-path: circle();
		&-wrapper {
			@include drop-shadow;
		}
	}
	&--quote {
		margin-top: $medium-padding;
		font-family: $sans-serif;
		font-weight: 600;
		font-size: $font-size-m;
	}
}
