@import "../../../sass/main";

.section-about__value-card {
	&--container {
		display: flex;
		flex-direction: column;
		height: 20rem;
		width: 25rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 2rem;
		@include respond(phone) {
			width: 15rem;
			height: 20rem;
			margin: 2rem;
			font-size: $font-size-s;
		}
		@include respond(small-phone) {
			width: 10rem;
			height: 10rem;
			margin: 2rem;
			font-size: $font-size-s;
		}
	}
	&--icon {
		background-image: radial-gradient(
			center,
			$color-primary-variant,
			$color-primary
		);
		width: 15rem;
		height: 15rem;
		padding: 4rem;
		clip-path: circle();
		&-wrapper {
			@include drop-shadow;
		}

		@include respond(small-phone) {
			width: 8rem;
			height: 8rem;
			padding: 2rem;
		}
	}
	&--quote {
		margin-top: $medium-padding;
		font-family: $sans-serif;
		font-weight: 600;
		font-size: $font-size-m;
	}
}
