@import "../../sass/main";

.section-about {
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $large-padding;

	&__skills-profile-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 80%;
		align-items: center;

		@include respond(tab-land) {
			width: 100%;
		}

		@include respond(phone) {
			flex-direction: column;
		}
	}
}
