@import "../../sass/main";
.component {
	&__navbar {
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		display: flex;
		//changing navbar-height variable in variables.scss changes margin top on banner image as well
		height: $navbar-height;

		flex-direction: row;
		justify-content: center;
		background-image: linear-gradient(
			225deg,
			rgba($color-background, 1) 0%,
			rgba($color-background, 1) 100%
		);
		border-bottom: 2px solid $color-tertiary;
		@include respond(tab-port) {
			flex-direction: column;
		}

		&-brand {
			display: flex;
			padding: 1rem 0;
			@include respond(tab-port) {
				padding-left: 2rem;
			}

			&--logo {
				width: 6rem;
				margin-right: 1rem;
			}
			&--name,
			&--name:link,
			&--name:visited,
			&--name:active {
				margin-top: auto;
				margin-bottom: auto;
				font-size: $font-size-l;
				padding-right: 10rem;
				font-family: $brand;
				text-decoration: none;
				color: $color-primary;
				transition: all 0.4s;
				@include respond(tab-port) {
					font-size: $font-size-xxl;
				}

				&:hover {
					color: $color-tertiary;
				}
			}
		}

		&-hamburger-button {
			&--container {
				position: absolute;
				top: 0;
				right: 0;
				width: 60px;
				height: 40px;
			}
			&--button {
				position: absolute;
				top: $navbar-height / 2;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 20px;
				background-color: $color-white;
				height: 2px;
				display: none;
				z-index: 900;

				@include respond(tab-port) {
					display: block;
				}
				&::before {
					position: absolute;
					transform: translateY(-6px);
					right: 0;
					content: "";
					background-color: $color-white;
					height: 2px;
					width: 20px;
					transition: all 0.2s;
				}
				&::after {
					position: absolute;
					transform: translateY(6px);
					right: 0;
					content: "";
					background-color: $color-white;
					height: 2px;
					width: 20px;
					transition: all 0.2s;
				}
			}

			&--checkbox {
				display: none;
				&-label {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 50px;
					height: 50px;
					z-index: 1000;
				}
			}

			&--checkbox:checked ~ &--button {
				color: $color-tertiary;
				visibility: hidden;
			}
			&--checkbox:checked ~ &--button::before {
				color: $color-tertiary;
				visibility: visible;
				top: 0;
				transform: rotate(225deg);
			}
			&--checkbox:checked ~ &--button::after {
				color: $color-tertiary;
				visibility: visible;
				top: 0;
				transform: rotate(-225deg);
			}
		}

		&-menu {
			display: flex;
			flex-direction: row;
			justify-content: center;
			transition: color 0.4s;
			z-index: 1000;

			@include respond(tab-port) {
				opacity: 0;
				display: flex;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(100%, -100%);
				flex-direction: column;
			}

			&--active {
				transform: translate(-50%, 50%);
				flex-direction: column;
				display: flex;
				opacity: 1;
			}

			&-backdrop {
				position: absolute;
				top: 0;
				right: 0;
				background: radial-gradient(
					circle,
					$color-dark-gray 0%,
					$color-background 40%,
					$color-background 65%,
					$color-primary 70%,
					$color-primary 100%
				);
				clip-path: circle(50px);
				width: 100px;
				height: 100px;
				opacity: 0;
				z-index: 800;
				transition: all 0.4s;

				&--active {
					transform: scale(28);
					opacity: 1;
				}
			}

			&--option {
				padding: 0 3rem;
				margin: auto 0;
				font-size: $font-size-m;
				line-height: 8.2rem;
				width: 20rem;
				text-align: center;
				text-transform: uppercase;
				font-family: $sans-serif;
				color: $color-white;
				border-color: $color-tertiary;
				@include respond(tab-port) {
					font-size: $font-size-4x;
					width: 40rem;
					line-height: 3;
				}

				&,
				& > a {
					transition: all 0.2s linear;
				}

				&:hover {
					// border-right: $color-tertiary solid 1px;
					// border-left: $color-tertiary solid 1px;
					@include respond(tab-port) {
						border: none;
					}
				}
				&:not(:last-child):hover {
					@include respond(tab-port) {
						background-color: transparent;
					}
				}

				&:last-child {
					@include respond(tab-port) {
						background-color: transparent;
					}
					&:hover {
						@include respond(tab-port) {
							background-color: transparent;
						}
					}
				}
				&:hover > a {
					border-bottom: $color-tertiary solid 1px;
					color: $color-tertiary;
					@include respond(tab-port) {
						border: none;
					}
				}
			}

			&--link,
			&--link:link,
			&--link:visited,
			&--link:active {
				text-decoration: none;
				color: inherit;
				padding-bottom: 1rem;
			}
		}
	}
}
