@import "../../sass/main";

.section-footer {
	position: relative;
	height: 20rem;
	width: 100%;
	background-color: $color-near-black;

	&__back-to-top {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__social {
	}
}
