@import "../../../sass/main";

.component-button {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 3rem;
	padding: 1rem 2rem;
	width: fit-content;
	font-size: $font-size-m;
	z-index: 200;
	color: $color-white;
	background-color: transparent;
	border: solid 2px $color-white;
	font-family: $sans-serif;
	transition: all 0.4s;
	cursor: pointer;
	overflow: hidden;

	&:focus,
	&:active {
		outline: $color-tertiary;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: transparent;
		height: 100%;
		width: 10%;
		opacity: 01;
		z-index: -1;
		transition: all 0.15s ease;
	}

	&--hover::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $color-tertiary;
		height: 100%;
		width: 100%;
		opacity: 01;
		z-index: -1;
	}
	&--hover {
		border: solid 2px $color-tertiary;
	}

	&.inverted {
		background-color: $color-tertiary;
		color: $color-white;
		border-color: $color-tertiary;
		-webkit-font-smoothing: antialiased;

		&--hover {
			@include shadowed;
		}
	}

	&__arrow {
		top: 50%;
		will-change: transform;
		height: $font-size-l;
		transform: rotate(0deg);
		transition: all 0.4s;

		&--hover {
			transform: rotate(90deg);
		}
	}
}
